* {
    margin: 0;
    padding: 0;
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color:#398be1;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #398be1;
}

.clear {
    clear: both;
}

.btn:disabled{
    background-color: #e5e5e5;
    border: none;
    color: #bababa;
}

.fz-12,.fz-small{
    font-size: 0.8rem;
}

.fz-14,.fz-normal{
    font-size: 1rem;
}

.fz-16,.fz-big{
    font-size: 1.2rem;
}

.float-right{
    float: right;
}