* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-weight: 300;
}

h1 {
    font-size: 2.4rem;
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #398be1;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #398be1;
}

.clear {
    clear: both;
}


/*words*/

.nowrap {
    white-space: nowrap;
}


/*float,text*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/*display*/

.inline-block,
.display-inline-block {
    display: inline-block;
}

.block,
.display-block {
    display: block;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
