/*fill-div*/

.fill-div-05 {
    background: #f1f1f1;
    height: 0.5rem;
}

.fill-div-1 {
    background: #f1f1f1;
    height: 1rem;
}


/*header*/

.header-bg-color1 {
    background-color: #fff;
}

.header-bg-color {
    background-color: #3871C7;
}


/*data*/

.no-record {
    width: 100%;
    font-size: 1.4rem;
    margin-top: 8rem;
    color: #8d8d8d;
    height: 100px;
    line-height: 30px;
    text-align: center;
}

.fetch-data {
    color: #8d8d8d;
    text-align: center;
    margin-top: 1.4rem;
}


/*arrow*/

.arrow-line {
    border-bottom: 1px solid #eee;
    font-size: 1.4rem;
    color: #999;
    height: 4rem;
    line-height: 4rem;
    margin-top: 0rem;
}

.arrow-line .arrow-right {
    background: url("../../assets/images/product/arrow_right.png") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 2rem;
    height: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
    margin-right: 1rem;
    float: right;
}
