/*button*/

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn:hover {
    background-color: #3a80c8;
}

.btn:disabled {
    background-color: #d8d8d8 !important;
    color: #fff !important;
    border: none;
}

.btn-big {
    width: 100%;
    height: 38px;
    line-height: 0rem;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    background-color: #346faf;
    border-radius: 5px;
}

.btn-normal {
    width: 80%;
    height: 38px;
    line-height: 0rem;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #346faf;
}

.btn-small {
    width: 50%;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #346FCA;
    font-size: 0.5rem;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #eee;
}

.btn-mini {
    width: 30%;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #346FCA;
    font-size: 0.5rem;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #eee;
}


/*checkbox*/

.checkboxIcon {
    display: inline-block;
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
    line-height: 5rem;
    vertical-align: middle;
    background: url(../images/dlc/checkbox_mini.png) no-repeat;
    background-size: cover;
}

.checkboxIcon.checked {
    background: url(../images/dlc/checkbox_checked_mini.png) no-repeat;
    background-size: cover;
}


/*input*/

input,
textarea {
    border: 0;
    /* 方法1 */
    -webkit-appearance: none;
    /* 方法2 */
}

input::-webkit-input-placeholder {
    color: #eee;
    font-size: 1.2rem;
    /* WebKit browsers */
}

input:-moz-placeholder {
    color: #eee;
    font-size: 1.2rem;
    /* Mozilla Firefox 4 to 18 */
}

input::-moz-placeholder {
    color: #eee;
    font-size: 1.2rem;
    /* Mozilla Firefox 19+ */
}

input:-ms-input-placeholder {
    color: #eee;
    font-size: 1.2rem;
    /* Internet Explorer 10+ */
}


/*设置输入框placeholder属性的字体颜色 end*/


/*controller*/

input:disabled,
input[disabled] {
    color: #8d8d8d;
    -webkit-text-fill-color: #8d8d8d;
    -webkit-opacity: 1;
    opacity: 1;
    border: 1px solid #eee !important;
}
